img {
    max-width: 180px;
}

input[type=file] {
    padding: 10px;
    background: #2d2d2d;
}


/* Table Scroll */

.my-custom-scrollbar {
    position: relative;
    height: 420px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}